<main>
  <mat-card>
    <button mat-raised-button (click)="navigateToContatoCreate()" color="primary">
      Novo contato
    </button>


      <div class="search-container">
      <a class="search-btn" (mouseenter)="showSearch = true" (mouseleave)="showSearch = false">
        <img class="lupa" src="assets/img/lupa.png" alt="Pesquisar">
      </a>
      <div class="search-box" [class.show]="showSearch">
        <input type="text" class="search-text" placeholder="Pesquisar ..." [(ngModel)]="searchTerm" (input)="filtrarContatos()" />
      </div>
    </div>

    <app-contato-read></app-contato-read>
  </mat-card>
</main>