<mat-card>
  <mat-card-title>Atualizar Produto</mat-card-title>
  <div class="scrollable-form">
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="product.proNome" name="proNome" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Descrição" [(ngModel)]="product.proDescricao" name="proDescricao"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Preço de Custo (R$)" [(ngModel)]="product.proPrecoCusto"
          name="proPrecoCusto" min="0" step="0.01">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Preço de Venda (R$)" [(ngModel)]="product.proPrecoVenda"
          name="proPrecoVenda" min="0" step="0.01">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Quantidade em Estoque" [(ngModel)]="product.proQuantidadeEstoque"
          name="proQuantidadeEstoque" min="0">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Categoria" [(ngModel)]="product.proCategoria" name="proCategoria">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Código de Barras" [(ngModel)]="product.proCodigoBarras" name="proCodigoBarras">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Marca" [(ngModel)]="product.proMarca" name="proMarca">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Unidade de Medida" [(ngModel)]="product.proUnidadeMedida" name="proUnidadeMedida">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Produto Ativo?</mat-label>
        <mat-select [(ngModel)]="product.proAtivo" name="proAtivo">
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Data de Cadastro" [(ngModel)]="product.proDataCadastro"
          name="proDataCadastro">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Data de Atualização"
          [(ngModel)]="product.proDataAtualizacao" name="proDataAtualizacao">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="updateProduct()">
        Atualizar
      </button>

      <button mat-raised-button type="button" (click)="cancel()">
        Cancelar
      </button>
    </form>
  </div>
</mat-card>