<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard Loja Gamer</title>
</head>
<body>
<div class="conteiner">
  <main class="main-conteiner">
    <section class="cards">
      <div class="card">
        <h3><span>💰</span> Vendas do Dia</h3>
        <p>R$ 1.250,00</p>
      </div>
      <div class="card">
        <h3><span>📦</span> produtos cadastrados: <p>{{ productCount }}</p></h3>
    </div>
      <div class="card">
        <h3><span>👥</span> Clientes Atendidos</h3>
        <p>22</p>
      </div>
      <div class="card warning">
        <h3><span>⚠️</span> Estoque Baixo</h3>
        <p>5 produtos</p>
      </div>
    </section>
    <section class="charts">
      <div class="chart">📊 Gráfico de Vendas Semanais</div>
      <div class="chart">🏆 Produtos Mais Vendidos</div>
    </section>
  </main>
</div>
</body>
</html>

