<mat-card>
    <mat-card-title>Excluir Contato</mat-card-title>

    <div>
        <mat-form-field>
            <input matInput placeholder="Telefone Comercial" [value]="contato.conTelefoneComercial" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Celular" [value]="contato.conCelular" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [value]="contato.conEmail" readonly>
        </mat-form-field>
    </div>

    <button mat-raised-button color="warn" (click)="deleteContato()">Excluir</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>