<!-- Container com elevação para exibir a tabela -->
<div class="mat-elevation-z4 scrollable-form">
  <!-- Tabela Angular Material com fonte de dados vinculada ao array 'cliente' -->
  <table mat-table [dataSource]="clientes">

    <!-- Coluna de Id -->
    <ng-container matColumnDef="cliId">
      <th mat-header-cell *matHeaderCellDef>Id</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">{{row.cliId}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de Nome -->
    <ng-container matColumnDef="cliNome">
      <th mat-header-cell *matHeaderCellDef>Name</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">{{row.cliNome}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de CPF -->
    <ng-container matColumnDef="cliCpf">
      <th mat-header-cell *matHeaderCellDef style=>CPF</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.cliCpf}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de E-mail -->
    <ng-container matColumnDef="conEmail">
      <th mat-header-cell *matHeaderCellDef style=>E-mail</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.conEmail}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de Celular -->
    <ng-container matColumnDef="conCelular">
      <th mat-header-cell *matHeaderCellDef style=>Celular</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.conCelular}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de Telefone -->
    <ng-container matColumnDef="conTelefoneComercial">
      <th mat-header-cell *matHeaderCellDef style=>Telefone Comercial</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.conTelefoneComercial}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de E-mail -->
    <ng-container matColumnDef="endRua">
      <th mat-header-cell *matHeaderCellDef style=>Rua</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.endRua}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de E-mail -->
    <ng-container matColumnDef="endCidade">
      <th mat-header-cell *matHeaderCellDef style=>Cidade</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.endCidade}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de E-mail -->
    <ng-container matColumnDef="endCep">
      <th mat-header-cell *matHeaderCellDef style=>Cep</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.endCep}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de E-mail -->
    <ng-container matColumnDef="endNumero">
      <th mat-header-cell *matHeaderCellDef style=>Numero</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.endNumero}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de E-mail -->
    <ng-container matColumnDef="endEstado">
      <th mat-header-cell *matHeaderCellDef style=>Estado</th> <!-- Cabeçalho da coluna -->
      <!-- UTILIZAÇÃO DE PIPES -->
      <td mat-cell *matCellDef="let row">{{row.endEstado}}</td> <!-- Dados da célula -->
    </ng-container>

    <!-- Coluna de Ações -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">
        <!-- Link para editar o cliente -->
        <a routerLink="/clientes/update/{{ row.cliId }}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>
        <!-- Link para deletar o cliente -->
        <a routerLink="/clientes/delete/{{ row.cliId }}" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>
      </td>
    </ng-container>

    <!-- Linha de cabeçalho da tabela -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Linha de dados da tabela -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>