<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Telefone Comercial" [(ngModel)]="contato.conTelefoneComercial" name="conTelefoneComercial">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="contato.conCelular" name="conCelular">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="contato.conEmail" name="conEmail">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateContato()" color="primary">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>