<mat-card>
    <mat-card-title>Alterar Contato</mat-card-title>

    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="Telefone Comercial" [(ngModel)]="contato.conTelefoneComercial"
                name="conTelefoneComercial" />
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="contato.conCelular" name="conCelular" />
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="contato.conEmail" name="conEmail" />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="updateContato()">Atualizar</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </div>
</mat-card>