/* Estilo do cabeçalho */
.header {
    display: flex; /* Define layout flexível */
    align-items: center; /* Alinha itens verticalmente ao centro */
    background-color: #000000; /* Fundos */
    position: relative; /* Necessário para posicionar o LED */ 
}

/* Estilo dos links no cabeçalho */
.header a {
    display: flex; /* Define layout flexível */
    align-items: center; /* Alinha itens verticalmente ao centro */
    text-decoration: none; /* Remove sublinhado dos links */
}

/* Estilo do logo no cabeçalho */
.header .logo {
   height: 100px; /* Define um tamanho mais controlado para o logo */
    width: auto;
    margin-right: 15px; /* Espaço entre o logo e o texto "Início" */
    border-radius: 4px; /* Deixa o logo com cantos levemente arredondados (opcional) */
}

/* Estilo do grupo de título no cabeçalho */
.header .title-group {
    /*padding-left: 25px; /* Espaçamento à esquerda */
    color: rgb(132, 0, 255); /* Cor do texto */
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* Estilo do ícone dentro do grupo de título */
.header .title-group i {
    /*padding-right: 5px; /* Espaçamento à direita do ícone */
    margin-right: 5px;
    font-size: 22px;
}

