<mat-toolbar class="header" met-elevation-z4>
    <!-- Logo com link para a página inicial -->
    <span>
        <a routerLink="/">
            <img src="assets/img/Lovepik_com-380624279-cartoon-sports-car-logo-for-web-clipart-vector-sticker-sports-logos.png" alt="Logo Autopeças" class="logo">
        </a>
    </span>
    <!-- Grupo de título com ícone e texto -->
    <span class="title-group">
        <a>
            <i class="material-icons">dashboard</i>
            Loja de Auto Peças
        </a>
    </span>
</mat-toolbar>