/* Estilo do cabeçalho */
.header {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #c9a11c 0%, #2727aa 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Links no cabeçalho */
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    /* Herdar a cor (evita azul sublinhado padrão) */
}

/* Logo */
.header .logo {
    height: 60px;
    /* Tamanho mais equilibrado para cabeçalhos */
    width: auto;
    margin-right: 15px;
    border-radius: 6px;
}

/* Título com ícone */
.header .title-group {
    color: #eeff007a;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

/* Ícone */
.header .title-group i {
    margin-right: 8px;
    font-size: 24px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}