<mat-card>
  <mat-card-title>Excluir Fornecedor</mat-card-title>

  <form>

    <h3 class="subtitulo">Dados Pessoais</h3>

    <mat-form-field>
      <input matInput placeholder="Nome fantasia" [value]="fornecedor.forNomeFantasia" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CNPJ" [value]="fornecedor.forCnpj" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Razão social" [value]="fornecedor.forRazaoSocial" disabled>
    </mat-form-field>

    <h3 class="subtitulo">Endereço</h3>

    <mat-form-field>
      <input matInput placeholder="Rua" [(ngModel)]="fornecedor.endRua" name="endRua" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero" [(ngModel)]="fornecedor.endNumero" name="endNumero" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cidade" [(ngModel)]="fornecedor.endCidade" name="endCidade" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" [(ngModel)]="fornecedor.endCep" name="endCep" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado" [(ngModel)]="fornecedor.endEstado" name="endEstado" />
    </mat-form-field>

    <h3 class="subtitulo">Contato</h3>

    <mat-form-field>
      <input matInput placeholder="Celular" [(ngModel)]="fornecedor.conCelular" name="conCelular" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Telefone Comercial" [(ngModel)]="fornecedor.conTelefoneComercial"
        name="conTelefoneComercial" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="fornecedor.conEmail" name="conEmail" />
    </mat-form-field>

  </form>

  <button mat-raised-button color="warn" (click)="deleteFornecedor()">
    Excluir
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>