<mat-card>
  <mat-card-title>Excluir Forma de Pagamento</mat-card-title>

  <form>
    <mat-form-field>
      <input matInput placeholder="Descrição" [(ngModel)]="formaPagamento.fpgDescricao" name="descricao" disabled>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ativo</mat-label>
      <mat-select [(ngModel)]="formaPagamento.fpgAtivo" name="ativo" disabled>
        <mat-option [value]="true">Sim</mat-option>
        <mat-option [value]="false">Não</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Permite Parcelamento</mat-label>
      <mat-select [(ngModel)]="formaPagamento.fpgPermiteParcelamento" name="parcelamento" disabled>
        <mat-option [value]="true">Sim</mat-option>
        <mat-option [value]="false">Não</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Máx. Parcelas" [(ngModel)]="formaPagamento.fpgNumeroMaximoParcelas" name="parcelas" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Taxa Adicional (%)" [(ngModel)]="formaPagamento.fpgTaxaAdicional" name="taxa" disabled>
    </mat-form-field>
  </form>

  <button mat-raised-button color="warn" (click)="deleteFormaPagamento()">Excluir</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
