<mat-card>
    <mat-card-title>Novo Contato</mat-card-title>

    <form (ngSubmit)="createContato()">
        <mat-form-field>
            <input matInput placeholder="Telefone comercial" [(ngModel)]="contato.conTelefoneComercial"
                name="conTelefoneComercial" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="contato.conCelular" name="conCelular" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="contato.conEmail" name="conEmail" type="email" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
    </form>
</mat-card>