@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* Barra superior */
.top-toolbar {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #c9a11c 0%, #2727aa 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  /* Distribui os links uniformemente */
}

/* Espaço entre o logo e os links */
.spacer {
  flex: 1;
}

/* Logo e título */
.logo-title {
  display: flex;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
}

/* Links do menu */
.top-toolbar a {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  flex-grow: 1;
  /* Faz os links ocuparem o espaço disponível */
  text-align: center;
  /* Centraliza o texto dentro dos links */
  justify-content: center;
  /* Centraliza o conteúdo dos links */
}

.top-toolbar a:hover {
  background: linear-gradient(135deg, #c9a11c 0%, #2727aa 100%);
  box-shadow: 0 0 10px rgb(208, 255, 0), 0 0 20px rgb(251, 255, 0), 0 0 30px #0ff;
  font-family: "Orbitron", sans-serif;
  transform: translateY(4px);
}

/* Ícones */
.icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 8px;
}

/* Animações */
.gira-simples {
  transition: transform 0.6s ease;
}

.gira-simples:hover {
  transform: rotate(360deg);
}

.gira-3d {
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.gira-3d:hover {
  transform: rotateY(180deg);
}

/* Efeito visual para o botão Cliente */
.cliente-brilho {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
}

.cliente-brilho i {
  font-size: 30px;
  transition: transform 0.4s ease;
}

.cliente-brilho:hover i {
  transform: scale(1.1);
}

.cliente-brilho::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -45%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 60%);
  transform: rotate(25deg);
  animation: reflexo-luz 2.5s infinite;
  pointer-events: none;
}

@keyframes reflexo-luz {
  0% {
    top: -100%;
    left: -50%;
  }

  100% {
    top: 100%;
    left: 100%;
  }
}

/* Conteúdo abaixo da barra */
.content {
  padding: 20px;
  background-color: #13141f;
  min-height: calc(100vh - 64px);
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}