<main>
  <mat-card>
    <button mat-raised-button (click)="navigateToClienteCreate()" color="primary">
      Novo cliente
    </button>

    <div class="search-container">
      <a class="search-btn" (mouseenter)="showSearch = true" (mouseleave)="showSearch = false">
        <img class="lupa" src="assets/img/lupa.png" alt="Pesquisar">
      </a>
      <div class="search-box" [class.show]="showSearch">
        <input type="text" class="search-text" placeholder="Pesquisar ..." [(ngModel)]="searchTerm"
          (input)="filtrarClientes()" />
      </div>
    </div>

    <app-cliente-read></app-cliente-read>
  </mat-card>
</main>