/* Estilo para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 123, 247);
    padding: 10px;
    z-index: 1000;
}

/* Estilo para o texto dentro do rodapé */
.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
    color: aliceblue;
    margin-right: 15px;
}

.footer span {
    margin-right: 20px;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #a3df00;
}

.footer .linkedin-icon i,
.footer .twitter-icon i,
.footer .instagram-icon i,
.footer .facebook-icon i,
.footer .email-icon i {
    font-size: 20px;
}

.footer span {
    margin-right: 20px;
}