/* Estilo para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    z-index: 1000;
}

/* Estilo para o texto dentro do rodapé */
.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
    color: aliceblue;
    margin-right: 15px;
}

/* Estilo para o ícone do LinkedIn */
.linkedin-icon {
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    z-index: 1000;
}

/* Efeito de hover no ícone */
.linkedin-icon:hover {
    color: #0a66c2;
    transform: scale(1.2);
}