<main>
    <mat-card>
<button mat-raised-button (click)="navigateToFormaPagamentoCreate()" color="primary">
    Nova Forma de pagamento
</button>
<input
      type="text"
      placeholder="Pesquisar formaPagamento"
      [(ngModel)]="searchTerm"
      (input)="filtrarFormaPagamentos()"
      style="margin: 10px; padding: 5px; width: 250px"
    />
     <ul>
      <li *ngFor="let formaPagamento of formaPagamentosFiltrados">
        {{ formaPagamento.fpgDescricao }}
      </li>
    </ul>
<app-forma-pagamento-read></app-forma-pagamento-read>
    </mat-card>
</main>